.contact-page {

  hr {
    background: #b9c7f5;
    border: 0;
    height: 1px;
    margin: 50px 0 40px;
  }

  form {
    border: 0;
  }

  fieldset {
    padding: 0;
    border: 0;
  }

  textarea,
  input,
  select {
    border: 1px solid #bbbbbb;
    box-sizing: border-box;
    display: block;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 5px 0 20px;
    padding: 10px;
    width: 100%;

    &:focus {
      outline: 1px solid #919cb7;
    }
  }

  select {
    cursor: pointer;
    -webkit-appearance: none;
  }

  input[type=submit] {
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
    padding: 15px 30px;
    width: initial;

    &:hover {
      cursor: pointer;
      background-color: #dddddd;
    }
  }

}
