<div class="price-box">
    <h2 class="pricing-plan">{{ .os }}</h2>
    <div class="price">{{ i18n "download.free" }}</div>
    <hr />
    <ul class="pricing-info">
        <li>{{ i18n "download.limited" }}</li>
    </ul>
    <a href={{ .link }} class="btn">
        {{ i18n "download.demo" }}
    </a>
    <ul class="pricing-info">
        <li class="light">
            v{{ .version }}
            <span class="dl-size">({{ .size }})</span>
        </li>
    </ul>

    {{ if .portable }}
    <a href={{ .portable }} class="btn portable-demo">
        {{ i18n "download.portable" }}
    </a>
    {{ end }}

    {{ if .oldHack }}
    <a href={{ .oldHack }} class="btn portable-demo">
        v3.1.0
    </a>
    {{ end }}

    {{ if .macIntel }}
    <a href={{ .macIntel }} class="btn portable-demo">
        Intel Mac
    </a>
    {{ end }}


</div>
