<div class="quote-container give-well">

    <div class="pull-quote">
        <span>"{{ i18n "givewell.q1" }}"</span>
        <span class="quote-author">
            <a href="https://www.givewell.org/charities/amf">GiveWell</a>
        </span>
    </div>

    <div class="pull-quote">
        <span>"{{ i18n "givewell.q2" }}"</span>
        <span class="quote-author">
            <a href="https://www.givewell.org/charities/amf">GiveWell</a>
        </span>
    </div>

    <div class="pull-quote">
        <span>"{{ i18n "givewell.q3" }}"</span>
        <span class="quote-author">
            <a href="https://www.givewell.org/charities/amf">GiveWell</a>
        </span>
    </div>

    <div class="pull-quote">
        <span>"{{ i18n "givewell.q4" }}"</span>
        <span class="quote-author">
            <a href="https://www.givewell.org/charities/amf">GiveWell</a>
        </span>
    </div>

</div>
