{{ define "main" }}
<section>
  <h1>
    {{ i18n "notfound.header" }}
  </h1>
  <p>
    {{ i18n "notfound.pleasevisit" }}
  </p>

  <div class="outer-nav right vertical nav-reset">
    <a href="/en" class="my-icon-home">
      Home
    </a>
    <a href="/en/download" class="my-icon-download">
      Download
    </a>
    <a href="/en/share" class="my-icon-heart">
      Share
    </a>
    <a href="/en/blog" class="my-icon-news">
      Blog
    </a>
    <a href="/en/faq" class="my-icon-star">
      FAQ
    </a>
    <a href="/en/about" class="my-icon-info-large">
      About
    </a>
    <a href="/en/contact" class="my-icon-mail">
      Contact
    </a>
  </div>
</section>
{{ end }}
