<section class="faq user-guide">

  <h1>
    {{ i18n "guide.heading" }}
  </h1>

  <h3>
    {{ i18n "guide.toc_heading" }}
  </h3>
  <ol>
    <li><a href="#getting_started">
        {{ i18n "guide.getting_started" }}
      </a></li>
    <li><a href="#layout_heading">
        {{ i18n "guide.layout_heading" }}
      </a></li>
    <li><a href="#settings_heading">
        {{ i18n "guide.settings_heading" }}
      </a></li>
    <li><a href="#using_search_heading">
        {{ i18n "guide.using_search_heading" }}
      </a></li>
    <li><a href="#howto_heading">
        {{ i18n "guide.howto_heading" }}
      </a></li>
  </ol>

  <h2 id="getting_started">
    {{ i18n "guide.getting_started" }}
  </h2>
  <p>
    {{ i18n "guide.start1" }}
  </p>
  <p>
    {{ i18n "guide.start2" }}
  </p>
  <p>
    {{ i18n "guide.start3" }}
  </p>
  <p>
    {{ i18n "guide.start4" }}
  </p>
  <p>
    {{ i18n "guide.start5" }}
  </p>
  <p>
    {{ i18n "guide.start6" }}
  </p>
  <p>
    {{ i18n "guide.start7" }}
  </p>

  <h2 id="layout_heading">
    {{ i18n "guide.layout_heading" }}
  </h2>
  <p>
    {{ i18n "guide.layout_intro" }}
  </p>

  <img src="/images/layout.png" alt="Video Hub App layout" style="width: 100%" />

  <ol>
    <li>
      {{ i18n "guide.layout1" }}
    </li>
    <li>
      {{ i18n "guide.layout2" }}
    </li>
    <li>
      {{ i18n "guide.layout3" }}
    </li>
    <li>
      {{ i18n "guide.layout4" }}
    </li>
    <li>
      {{ i18n "guide.layout5" }}
    </li>
  </ol>

  <h3>
    {{ i18n "guide.tagging_heading" }}
  </h3>
  <p>
    {{ i18n "guide.tagging1" }}
  </p>
  <ul>
    <li>
      {{ i18n "guide.tagging2" }}
    </li>
    <li>
      {{ i18n "guide.tagging3" }}
    </li>
    <li>
      {{ i18n "guide.tagging4" }}
    </li>
    <li>
      {{ i18n "guide.tagging5" }}
    </li>
  </ul>
  <p>
    {{ i18n "guide.tagging6" }}
  </p>
  <p>
    {{ i18n "guide.tagging7" }}
  </p>

  <h3>
    {{ i18n "guide.tagging_batch_heading" }}
  </h3>
  <p>
    {{ i18n "guide.tagging_batch1" }}
  </p>
  <ol>
    <li>
      {{ i18n "guide.tagging_batch2" }}
    </li>
    <li>
      {{ i18n "guide.tagging_batch3" }}
    </li>
    <li>
      {{ i18n "guide.tagging_batch4" }}
    </li>
  </ol>
  <p>
    {{ i18n "guide.tagging_batch5" }}
  </p>

  <h3>
    {{ i18n "guide.rating_heading" }}
  </h3>
  <p>
    {{ i18n "guide.rating1" }}
  </p>
  <p>
    {{ i18n "guide.rating2" }}
  </p>
  <p>
    {{ i18n "guide.rating3" }}
  </p>

  <h3>
    {{ i18n "guide.renaming_heading" }}
  </h3>
  <p>
    {{ i18n "guide.renaming1" }}
  </p>

  <h3>
    {{ i18n "guide.thumbnail_heading" }}
  </h3>
  <p>
    {{ i18n "guide.thumbnail1" }}
  </p>
  <p>
    {{ i18n "guide.thumbnail2" }}
  </p>

  <h2 id="settings_heading">
    {{ i18n "guide.settings_heading" }}
  </h2>
  <p>
    {{ i18n "guide.settings1" }}
  </p>
  <p>
    {{ i18n "guide.settings2" }}
  </p>
  <p>
    {{ i18n "guide.settings3" }}
  </p>

  <h3>
    {{ i18n "guide.search_heading" }}
  </h3>
  <p>
    {{ i18n "guide.search1" }}
  </p>
  <p>
    {{ i18n "guide.search2" }}
  </p>
  <p>
    {{ i18n "guide.search3" }}
  </p>
  <p>
    {{ i18n "guide.search4" }}
  </p>
  <p>
    {{ i18n "guide.search5" }}
  </p>
  <p>
    {{ i18n "guide.search6" }}
  </p>

  <h3>
    {{ i18n "guide.view_heading" }}
  </h3>
  <p>
    {{ i18n "guide.view1" }}
  </p>
  <p>
    {{ i18n "guide.view2" }}
  </p>
  <p>
    {{ i18n "guide.view3" }}
  </p>

  <h3>
    {{ i18n "guide.main_heading" }}
  </h3>
  <p>
    {{ i18n "guide.main1" }}
  </p>
  <ul>
    <li>
      {{ i18n "guide.main2" }}
    </li>
    <li>
      {{ i18n "guide.main3" }}
    </li>
    <li>
      {{ i18n "guide.main4" }}
    </li>
    <li>
      {{ i18n "guide.main5" }}
    </li>
    <li>
      {{ i18n "guide.main6" }}
    </li>
    <li>
      {{ i18n "guide.main7" }}
    </li>
    <li>
      {{ i18n "guide.main8" }}
    </li>
  </ul>

  <h3>
    {{ i18n "guide.current_heading" }}
  </h3>
  <p>
    {{ i18n "guide.current1" }}
  </p>
  <ul>
    <li>
      {{ i18n "guide.current2" }}
    </li>
    <li>
      {{ i18n "guide.current3" }}
    </li>
    <li>
      {{ i18n "guide.current4" }}
    </li>
    <li>
      {{ i18n "guide.current5" }}
    </li>
    <li>
      {{ i18n "guide.current6" }}
    </li>
    <li>
      {{ i18n "guide.current7" }}
    </li>
    <li>
      {{ i18n "guide.current8" }}
    </li>
    <li>
      {{ i18n "guide.current9" }}
    </li>
  </ul>
  <p>
    {{ i18n "guide.current10" }}
  </p>

  <h3>
    {{ i18n "guide.shortcuts_heading" }}
  </h3>
  <p>
    {{ i18n "guide.shortcuts1" }}
  </p>
  <p>
    {{ i18n "guide.shortcuts2" }}
  </p>
  <p>
    {{ i18n "guide.shortcuts3" }}
  </p>


  <h2 id="using_search_heading">
    {{ i18n "guide.using_search_heading" }}
  </h2>
  <p>
    {{ i18n "guide.using_search1" }}
  </p>
  <p>
    {{ i18n "guide.using_search2" }}
  </p>
  <ul>
    <li>
      {{ i18n "guide.using_search3" }}
    </li>
    <li>
      {{ i18n "guide.using_search4" }}
    </li>
    <li>
      {{ i18n "guide.using_search5" }}
    </li>
    <li>
      {{ i18n "guide.using_search6" }}
    </li>
    <li>
      {{ i18n "guide.using_search7" }}
    </li>
  </ul>

  <h2 id="howto_heading">
    {{ i18n "guide.howto_heading" }}
  </h2>

  <h3>
    {{ i18n "guide.adding_heading" }}
  </h3>
  <p>
    {{ i18n "guide.adding1" }}
  </p>
  <p>
    {{ i18n "guide.adding2" }}
  </p>
  <p>
    {{ i18n "guide.adding3" }}
  </p>
  <p>
    {{ i18n "guide.adding4" }}
  </p>

  <h3>
    {{ i18n "guide.movefolder_heading" }}
  </h3>
  <p>
    {{ i18n "guide.move1" }}
  </p>
  <p>
    {{ i18n "guide.move2" }}
  </p>
  <p>
    {{ i18n "guide.move3" }}
  </p>
  <ol>
    <li>
      {{ i18n "guide.move4" }}
    </li>
    <li>
      {{ i18n "guide.move5" }}
    </li>
    <li>
      {{ i18n "guide.move6" }}
    </li>
    <li>
      {{ i18n "guide.move7" }}
    </li>
    <li>
      {{ i18n "guide.move8" }}
    </li>
  </ol>
  <p>
    {{ i18n "guide.move9" }}
  </p>


  <p class="thank-you-oren">
    {{ i18n "guide.thank_you_oren" }}
  </p>

</section>
